<h1>My Bookings</h1>
<% if @destroy %>
  <div class="" role="">
    Bike successfully deleted
</div>
<% end %>
<div class="">
<% @bookings.each do |booking| %>
  <% booked_user = User.find(booking.user_id) %>
  <% booked_bike = Bike.find(booking.bike_id) %>
  <div class="card-bookings my-3">
   <%= cl_image_tag booked_bike.photo %>
    <div class="card-bookings-infos d-flex flex-grow-1">
      <div class="flex-grow-1">
        <h4>Owned by: <%= booked_user.first_name%> <%=booked_user.last_name %></h4>
        <h2><%= booked_bike.name %></h2>
        <h6><strong>FROM: </strong> <%= booking.start_date.strftime("%A, %b %d %Y") %>
         <strong>   TO: </strong><%= booking.end_date.strftime("%A, %b %d %Y") %></h6><br>
        <h6>Status: <%= booking.confirmed.capitalize %></h6>
      </div>

      <div class="card-buttons-booked d-flex flex-column">
      <% case booking.confirmed %>
      <% when "pending" %>
        <%= link_to 'Confirm', booking_confirm_path(booking), method: 'patch', class: "btn btn-primary btn-sm my-2" %>
        <%= link_to 'Cancel', booking_cancel_path(booking), method: 'patch',class: "btn btn-danger btn-sm my-2" %>
      <% when "confirmed" %>
        <%= link_to 'Cancel', booking_cancel_path(booking), method: 'patch',class: "btn btn-danger btn-sm my-2" %>
      <% when "cancelled" %>
        <% # link_to "Delete", bike_path(bike), method: "delete", class: "btn btn-danger delete-btn" %>
        <%= link_to 'Delete', booking_del_path(booking), method: 'delete',class: "btn btn-danger btn-sm my-2" %>
      <% end %>

      </div>
    </div>
  </div>
<% end %>



