<h1>My Bookings</h1>
<% if @destroy %>
  <div class="" role="">
    Bike successfully deleted
</div>
<% end %>
<div class="">
<% @bookings.each do |booking| %>
  <% booked_user = User.find(booking.user_id) %>
  <% booked_bike = Bike.find(booking.bike_id) %>
  <% owner_id = User.find(booked_bike.user_id) %>
  <div class="card-bookings my-3">
   <%= cl_image_tag booked_bike.photo %>
    <div class="card-bookings-infos d-flex flex-grow-1">
      <div class="flex-grow-1">
        <h2>Bike <%= booked_bike.name %></h2>
        <p>Owned by: <%= owner_id.first_name%> <%=owner_id.last_name %></p>
        <% months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] %>
        <p><strong>FROM: </strong> <%= booking.start_date.strftime("#{months[booking.start_date.month - 1]} %d %Y") %></p>
        <p><strong>   TO: </strong><%= booking.end_date.strftime("#{months[booking.end_date.month - 1]} %d %Y") %></p>
        <p>Status <%= booking.confirmed %></p>
      </div>

      <div class="card-buttons-booked d-flex flex-column">
      <% case booking.confirmed %>
      <% when "pending" %>
        <%= link_to 'Cancel', booking_cancel_path(booking,rentals: false), method: 'patch',class: "btn btn-danger btn-sm my-2" %>
      <% when "confirmed" %>
        <%= link_to 'Cancel', booking_cancel_path(booking,rentals: false), method: 'patch',class: "btn btn-danger btn-sm my-2" %>
      <% end %>

      </div>
    </div>
  </div>
<% end %>



