<h1>My Bookings</h1>
<% if @destroy %>
  <div class="" role="">
    Bike successfully deleted
</div>
<% end %>
<div class="">
<% @bookings.each do |booking| %>
  <% booked_user = User.find(booking.user_id) %>
  <% booked_bike = Bike.find(booking.bike_id) %>
  <% owner_id = User.find(booked_bike.user_id) %>
  <div class="card-bookings my-3">
   <%= cl_image_tag booked_bike.photo %>
    <div class="card-bookings-infos d-flex flex-grow-1">
      <div class="flex-grow-1">
        <h2>Bike <%= booked_bike.name %></h2>
        <h5>Owned by: <%= owner_id.first_name%> <%=booked_user.last_name %></h5>
        <h6>FROM: <%= booking.start_date.strftime("%A, %b %d %Y") %></h6>
        <h6>TO  : <%= booking.end_date.strftime("%A, %b %d %Y") %></h6>
        <p><br></p>
        <h6><%= booking.confirmed.capitalize %></h6>
      </div>

      <div class="card-buttons-booked d-flex flex-column align-items-end">
      <% case booking.confirmed %>
      <% when "pending" %>
        <%= link_to 'Cancel', booking_cancel_path(booking,rentals: false), method: 'patch',class: "btn btn-danger btn-md btn-block my-2" %>
      <% when "confirmed" %>
        <%= link_to 'Cancel', booking_cancel_path(booking,rentals: false), method: 'patch',class: "btn btn-danger btn-md btn-block my-2" %>
      <% end %>

      </div>
    </div>
  </div>
<% end %>



