<%= form_tag bikes_path, method: :get do %>

  <div class="form-group search-form-group first__field--mobile">
    <%= label_tag 'category', 'Browse by Category' %>
    <% categories = ['All', 'Mountain', 'BMX', 'Road', 'Fixi', 'Electric', 'City', 'Fatbike'] %>
    <%= select_tag :category,
        options_for_select(categories),
        class: "form-control" %>
  </div>

  <div class="form-group search-form-group last__field--mobile">
    <%= label_tag 'rating', 'Minimum rating' %>
    <% ratings = ['1 star', '2 stars', '3 stars', '4 stars', '5 stars'] %>
    <%= select_tag :rating,
        options_for_select(ratings),
        class: "form-control" %>
  </div>

  <div class="text-right btn__wrapper--mobile">
    <input type="submit" value="Search" class="btn btn-primary btn__submit--mobile">
  </div>
<% end %>
