<% if @destroy %>
  <div class="alert alert-success alert-dismissable fade show" role="alert">
    Bike successfully deleted
  </div>
<% end %>

<div class="d-flex justify-content-between align-items-center my-3">
  <h1>My Bikes</h1>

  <%= link_to "Add a new bike to rent", new_bike_path, class: "btn btn-success btn-lg" %>

</div>

<% @bikes.each do |bike| %>
  <div class="card-product my-3">
    <%= cl_image_tag bike.photo %>
    <div class="card-product-infos d-flex flex-grow-1">
      <div class="flex-grow-1">
        <h2><%= bike.name %></h2>
        <h5>
          <%= bike.category.capitalize %> bike
          <% if bike.gender == 'M' %>
            (For Men)
          <% else %>
            (For Women)
          <% end %>
        </h5>
        <p class="price-per-night"><%= bike.price.round(2) %> $</p>
        <p class="description"><%= bike.description %></p>
        <p class="size">
          Size:
          <% case bike.size %>
          <% when 'sm' %>
            Small
          <% when 'md' %>
            Medium
          <% when 'lg' %>
            Large
          <% end %>
        </p>
      </div>

      <div class="card-buttons d-flex flex-column">
        <%= link_to edit_bike_path(bike), class: "btn btn-warning edit-btn", title: 'Edit Bike', data: { toggle: 'popover', content: 'Content',  placement: 'left', trigger: 'hover'} do %>
          <i class="fas fa-edit"></i>
        <% end %>
        <% # link_to "Delete", bike_path(bike), method: "delete", class: "btn btn-danger delete-btn" %>
        <button class="btn btn-danger delete-btn" data-toggle="popover" title="Delete Bike" data-content="Content" data-placement="right" data-trigger="hover" id="<%= bike.id %>" token="<%= form_authenticity_token %>">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
<% end %>
