<%# <h1>Bikes#:index</h1>
<p>Find me in app/views/bikes/:index.html.erb</p> %>

<div class="container">
    <div class="semi-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1544361591-36e31038df92?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
      <div class="banner-info">
        <h2>Rent a bike whenever, wherever!</h2>
        <p>Browse through numerous types of bikes specific to your needs.</p>
        <a class="btn btn-primary" href="#">Learn More</a>
      </div>
    </div>

    <div class="cards">
        <% @bikes.each do |bike| %>
            <%= link_to bike_path(bike.id), class:"card_link" do %>
                <div class="card-bike">
                    <%= cl_image_tag(bike.photo) %> 
                    <div class="card-bike-infos">
                      <div>
                        <h2><%= bike.name %></h2>
                        <p><%= bike.description.capitalize %></p>
                        <p>Rating: <%= bike.rating %></p>
                      </div>
                      <div class="price">
                        <h6>$<%= bike.price %></h6>
                      </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
