<div class="semi-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1544361591-36e31038df92?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
  <div class="banner-info d-flex justify-content-between h-100 banner--mobile">
    <div class="d-flex flex-column justify-content-between h-100">
      <div>
        <h2>Rent a bike whenever, wherever!</h2>
        <p>Browse through numerous types of bikes specific to your needs.</p>
      </div>
      <%= link_to "Browse on Map", bikes_map_path, class: 'btn btn-lg btn-light-blue w-50 text-white btn--mobile' %>
    </div>
    <%= render "search_form" %>
  </div>
</div>
<div class="container">

    <% if @message == 'category' %>
      <div class="search-message">
        We found <span class="bikes-count"><%= pluralize @bikes.count, "bike" %></span> in category <span class="bikes-count">"<%= @category %>"</span>, with a rating of <span class="bikes-count"><%= pluralize @rating, "star" %></span> or more
      </div>
    <% elsif @message == 'all' %>
      <div class="search-message">
        We found <span class="bikes-count"><%= pluralize @bikes.count, "bike" %></span> in all categories, with a rating of <span class="bikes-count"><%= pluralize @rating, "star" %></span> or more
      </div>
    <% end %>
    <div class="cards container--mobile">
        <% if user_signed_in? %>
            <%# Do not show user's bikes %>

            <% @bikes = @bikes.reject do |bike| %>
                <% bike.user == current_user %>
            <% end %>
        <% end %>

        <% @bikes.each do |bike| %>
            <%= link_to bike_path(bike.id), class:"card_link card_link--mobile" do %>
                <div class="card-bike">
                  <%= cl_image_tag(bike.photo) %>
                  <div class="card-bike-infos">


                    <div class="card-bike-infos">

                      <div class="d-flex justify-content-between">
                        <h2><%= bike.name %></h2>
                        <%= avatar_for(bike.user) %>
                      </div>


                      <div class="price d-flex justify-content-between mt-2">
                        <p>
                          <% bike.rating.times do %>
                            <i class="fas fa-star star-yellow"></i>
                          <% end %>
                          <% (5 - bike.rating).times do %>
                            <i class="far fa-star star-yellow"></i>
                          <% end %>
                          <%= rand(300) %>
                        </p>
                        <h6>$<%= format('%.2f', bike.price) %></h6>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>
