<% if @destroy %>
  <div class="alert alert-success alert-dismissable fade show" role="alert">
    Bike successfully deleted
  </div>
<% end %>

<div class="d-flex justify-content-between align-items-center my-3">
  <h1>My Bikes</h1>

  <%= link_to "Add a new bike to rent", new_bike_path, class: "btn btn-success btn-lg" %>

</div>

<% @bikes.each do |bike| %>
  <div class="card-product my-5">
    <%= cl_image_tag bike.photo %>
    <div class="card-product-infos d-flex flex-grow-1 flex-column justify-content-between align-items-start">
      <div class="info-text flex-grow-1 d-flex justify-content-between">
        <div class="flex-grow-1">
          <div class="info-header d-flex justify-content-between align-items-center">
            <p class="bike-title"><%= bike.name %></p>
            <p class="price-per-night"><%= format('%.2f', bike.price) %>$ per day</p>
          </div>
          <p class="reviews">
            <% bike.rating.times do %>
              <i class="fas fa-star star-green"></i>
            <% end %>
            (<%= rand(100) %> reviews)
          </p>

          <p class="category mt-0">
            (<%= bike.category %>)
          </p>

          <p class="description"><%= bike.description %></p>

        </div>

      </div>

      <div class="card-buttons d-flex justify-content-between align-items-center">
        <div>
          <%= link_to "More info", bike_path(bike), class: "btn btn-primary" %>

        </div>
        <div class="buttons">
          <%= link_to edit_bike_path(bike), class: "btn btn-warning edit-btn", title: 'Edit Bike', data: { toggle: 'popover', content: 'Content',  placement: 'left', trigger: 'hover'} do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <% # link_to "Delete", bike_path(bike), method: "delete", class: "btn btn-danger delete-btn" %>
          <button class="btn btn-danger delete-btn" data-toggle="popover" title="Delete Bike" data-content="Content" data-placement="right" data-trigger="hover" id="<%= bike.id %>" data-token="<%= form_authenticity_token %>">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>
