<%# <h1>Bikes#:index</h1>
<p>Find me in app/views/bikes/:index.html.erb</p> %>

<div class="semi-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1544361591-36e31038df92?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
  <div class="banner-info">
    <h2>Rent a bike whenever, wherever!</h2>
    <p>Browse through numerous types of bikes specific to your needs.</p>
    <%= form_tag bikes_path, method: :get do %>
      <div class="form-group search-form-group">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a bike"
        %>
      </div>

      <div class="form-group search-form-group">
        <%= label_tag 'categories', 'Category' %>
        <% categories = ['All', 'Mountain', 'BMX', 'Road', 'Fixi', 'Electric', 'City', 'Fatbike'] %>
        <%= select_tag :categories,
            options_for_select(categories),
            class: "form-control" %>
      </div>
    <% end %>
  </div>
</div>
<div class="container">

    <div class="cards">
        <% if user_signed_in? %>
            <%# Do not show user's bikes %>
            <% @bikes = @bikes.reject do |bike| %>
                <% bike.user == current_user %>
            <% end %>
        <% end %>
        <% @bikes.each do |bike| %>
            <%= link_to bike_path(bike.id), class:"card_link" do %>
                <div class="card-bike">

                    <%= cl_image_tag(bike.photo) %>
                    <div class="card-bike-infos">

                      <h2><%= bike.name %></h2>
                      <p><%= bike.description.capitalize %></p>


                      <div class="price d-flex justify-content-between">
                        <p>Rating: <%= bike.rating %></p>
                        <h6>$<%= format('%.2f', bike.price) %></h6>
                      </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>

<%= link_to "MAP", bikes_map_path, id: 'map-button', class: 'btn btn-lg btn-maps' %>
