<h1>Manage my Bikes</h1>

<%= link_to "Add a new bike to rent", new_bike_path, class: "btn btn-success btn-lg" %>

<% @bikes.each do |bike| %>
  <div class="card-product my-3">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
    <div class="card-product-infos">
      <h2><%= bike.name %></h2>
      <h5>
        <%= bike.category.capitalize %> bike
        <% if bike.gender == 'M' %>
          (For Men)
        <% else %>
          (For Women)
        <% end %>
      </h5>
      <p class="description"><%= bike.description %></p>
      <p class="size">
        Size:
        <% case bike.size %>
        <% when 'sm' %>
          Small
        <% when 'md' %>
          Medium
        <% when 'lg' %>
          Large
        <% end %>
      </p>
    </div>
  </div>
  <%= cl_image_tag bike.photo, height: 300, width: 400, crop: :fill %>
<% end %>
