<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%=cl_image_path @bike.photo, crop: :fill %>')">
  <%= link_to bikes_path, class: "back-arrow" do %>
    <i class="fas fa-arrow-left"></i> Back
  <% end %>
  <h2 class="bike__title"><%= @bike.name %>
  <% if policy(@bike).edit? %>
    <%= link_to edit_bike_path(@bike.id), class: "edit_btn" do%>
    <i class="fas fa-pencil-alt"></i>
    <% end %>
  <% end %></h2>
</div>
<div class="bike__info--container">
  <div class="specs__wrapper">
    <div class="specssheet" >
      <h4 class="specs__title">Specs sheet</h4>
      <ul class="specs">
        <li class="spec__info"><strong>Category:</strong> <%=@bike.category %></li>
<!--         <li class="spec__info"><strong>Description:</strong> <%= @bike.description %></li>
        <li class="spec__info"><strong>Gender:</strong> <%=@bike.gender %></li>
        <li class="spec__info"><strong>Size:</strong> <%= @bike.size %></li> -->
        <li class="spec__info"><strong>Price:</strong> $<%= @bike.price %></li>
        <% counter = 0 %>
        <li class="spec__info"><strong>Rating:</strong> <% 5.times do %>
          <i class="fa <%= @bike.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
            <% counter += 1 %>
          <% end %>
        </li>
        <li class="spec__info"><strong>Owner:</strong>
          <% if @owner.avatar?  %>
            <%= link_to user_profile_path(@owner.id) do %>
              <%= cl_image_tag("@owner.avatar") %>
            <% end %>
          <% else %>
            <%= link_to user_profile_path(@owner.id), class: "owner__link" do %>
              <%= @owner.first_name %>
            <% end %>
          <% end %>
        </li>

      </ul>
      <%= image_tag 'skidmarks.png', class: "skidmarks" %>
      <%= image_tag 'skidmarks.png', class: "skidmarks2" %>
    </div>
  </div>
  <div class="booking-form">
    <h4 class="specs__title book-me">Book me!</h4>
    <%= render "shared/booking_form", bike: @bike, booking: @booking %>
    <% if @bike.user != current_user %>
    <p class="contact"><span class="contact__title">Any questions, comments, request?</span>
      <a href="mailto:<%= @bike.user.email %>?Subject=Info%20about%20<%= @bike.name %>" target="_blank" class="mailto">Contact <%= @owner.first_name %></a>
    </p>
    <% end %>
  </div>
</div>

<h4 class="specs__title map__title">How far is it?</h4>
<div
  id="map_bike"
  style="width: 100%;
  height: 20rem;"
  data-markers="<%= @bike__markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
